/*header*/

.header{
    background-image:url(./Assets/Hero-bg.png);
}

/*nav styles*/

nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
nav ul li{
    list-style:none;
}
.primary-color{
    color: blue;
    font-size: 34px;
}
.btn-primary{
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

/*description*/

.description{
    text-align: center;
    padding: 158px 267.5px 152px;
    font-weight: bold;
}

/*main*/

.action{
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin:120px auto;
}
.mini{
    border-radius: 48px;
}
.content{
    max-width: 517px;
}

.content-title{
    font-weight: bold;
    font-size: 42px;
    color: 252432;
}

.content-description{
    font-weight: lighter;
    font-size: 24px;
    color: 252432;
}

.user{
    background-color: lightskyblue;
    margin: 116px auto;
    max-width: 1140px;
}
.user-title{
    color: 252432;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.user-abouts{
    display: flex;
    justify-content: space-around;
}
.about-n{
    font-weight: bold;
    font-size: 80px;
    color: blue;
}
.about-title{
    color: 000000;
    font-weight: lighter;
    font-size: 20px;
}
.card{    
    max-width: 360px;
    display: flex;
    margin: auto;
    gap: 20px;
}
.card li{
    list-style: none;
}

.review-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 130px;
}
.icon-star{
    width: 20px;
    height: 20px;
}
.icon{
   width: 40px;
    height: 40px; 
}
.reviewer-title{
    font-weight: 400;
    font-size: medium;
}
.reviewer-description{
    font-weight: 400;
    font-size: medium;
}
.explore{
    text-align: center;
    max-width: 1140px;
}
.big{
    margin: 100px 150px 70px 150px;
    border-radius: 48px;
}
.contact{
    display: flex;
    max-width: 1140px;
    margin: 90px 150px 20px 150px;
}
.contact-title{
    font-weight: bold;
    font-size: 90px;
}
.message input[type="name"],.message input[type="email"],.message textarea{
    height: 20px;
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
    padding: 20px 30px;
}

/*footer*/
.last{
    text-align: center;
    max-width: 520px;
    margin: 100px 455px;
}
.connection{
    text-align: center;
    display: flex;
    max-width: 400px;  
}
.last-title{
    font-weight: bolder;
    font-size: 100px;
    color: blue;
}
.last-description{
    font-weight: lighter;
    color: 8987A1;
}
.connection{
    gap: 20px;
}
.connection li{
    list-style: none;
}
.connection li a{
    text-decoration: none;
}


